<%- include ("components/head.ejs") %>
<% var user %>
<body>
  <%- include ("components/navigationBar.ejs") %> 
  <div class="appStage">
    <div class="app">
      <main class="AijMaz">
        <div class="container__LvALIMY">
          <div class="utilitySideBar__94Efm1">
            <div class="utilitySideBarWrapper__94Efm1">
              <nav class="utilitSideBarNavigation__LvALIMY">

                <ul class="w-water">
                  <li class="linkItem__rhZ6tp">
                    <a class="link__wpZpfD" href="/">
                      <div class="linkGroup__LvALIMY">
                        <div class="linkIcon__LvALIMY">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path d="m498.195 222.695-.035-.035L289.305 13.813C280.402 4.905 268.566 0 255.977 0c-12.59 0-24.426 4.902-33.332 13.809L13.898 222.55c-.07.07-.14.144-.21.215-18.282 18.386-18.25 48.218.09 66.558 8.378 8.383 19.445 13.238 31.277 13.746.48.047.965.07 1.453.07h8.324v153.7C54.832 487.254 79.578 512 110 512h81.71c8.282 0 15-6.715 15-15V376.5c0-13.879 11.29-25.168 25.169-25.168h48.195c13.88 0 25.168 11.29 25.168 25.168V497c0 8.285 6.715 15 15 15h81.711c30.422 0 55.168-24.746 55.168-55.16v-153.7h7.719c12.586 0 24.422-4.902 33.332-13.808 18.36-18.371 18.367-48.254.023-66.637zm0 0"/>
                          </svg>
                        </div>
                        <div class="linkText__vAV5RU">
                          <h3>Home</h3>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="linkItem__rhZ6tp">
                    <div class="linkGroup__LvALIMY">
                      <div class="linkIcon__LvALIMY">
                        <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 612 612">
                          <path d="M306 0C137.272 0 0 137.27 0 305.997 0 474.727 137.272 612 306 612s306-137.273 306-306.003C612 137.27 474.73 0 306 0zm0 576.657c-149.24 0-270.657-121.418-270.657-270.66C35.343 156.759 156.76 35.343 306 35.343s270.657 121.416 270.657 270.655c0 149.242-121.417 270.659-270.657 270.659z"/>
                          <path d="M474.47 144.734c-4.623-8.599-15.336-11.818-23.933-7.197L251.64 244.485a17.67 17.67 0 0 0-7.197 7.198L137.538 450.536c-3.782 7.035-2.309 15.489 3.063 20.861a17.55 17.55 0 0 0 4.137 3.07c5.313 2.857 11.436 2.71 16.428.155l.003.004.075-.04c.072-.037.143-.077.214-.115l198.995-106.87a17.668 17.668 0 0 0 7.2-7.197L474.13 162.043c.233-.401.455-.806.655-1.222l.144-.267-.018-.006c2.263-4.877 2.3-10.715-.441-15.814zm-278.067 270.95 67.933-126.361 58.418 58.42-126.351 67.941zm151.357-92.92-58.421-58.421 126.351-67.94"/>
                        </svg>
                      </div>
                      <div>
                        <a class="link__wpZpfD" href="/explore">
                          <div class="linkText__vAV5RU">
                            <h3>Explore</h3>
                          </div>
                        </a>
                      </div>
                    </div>
                  </li>
                  <li class="linkItem__rhZ6tp">
                    <a class="link__wpZpfD" href="/">
                      <div class="linkGroup__LvALIMY">
                        <div class="linkIcon__LvALIMY">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path d="M411 262.862V215c0-69.822-46.411-129.001-110-148.33V45c0-24.813-20.187-45-45-45s-45 20.187-45 45v21.67C147.41 85.999 101 145.177 101 215v47.862c0 61.332-23.378 119.488-65.827 163.756A14.999 14.999 0 0 0 46 452h136.509c6.968 34.192 37.272 60 73.491 60 36.22 0 66.522-25.808 73.491-60H466a15 15 0 0 0 10.827-25.382C434.378 382.35 411 324.193 411 262.862zM241 45c0-8.271 6.729-15 15-15s15 6.729 15 15v15.728c-4.937-.476-9.94-.728-15-.728s-10.063.252-15 .728zm15 437c-19.555 0-36.228-12.541-42.42-30h84.84c-6.192 17.459-22.865 30-42.42 30zM78.33 422C112.491 376.208 131 320.792 131 262.862V215c0-68.925 56.075-125 125-125s125 56.075 125 125v47.862c0 57.93 18.509 113.346 52.671 159.138zM451 215c0 8.284 6.716 15 15 15s15-6.716 15-15c0-60.1-23.404-116.603-65.901-159.1-5.857-5.857-15.355-5.858-21.213 0s-5.858 15.355 0 21.213C430.717 113.944 451 162.913 451 215zM46 230c8.284 0 15-6.716 15-15 0-52.086 20.284-101.055 57.114-137.886 5.858-5.858 5.858-15.355 0-21.213-5.857-5.858-15.355-5.858-21.213 0C54.404 98.398 31 154.9 31 215c0 8.284 6.716 15 15 15z"/>
                          </svg>
                        </div>
                        <div class="linkText__vAV5RU">
                          <h3>Notifications</h3>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="linkItem__rhZ6tp">
                    <div class="linkGroup__LvALIMY">
                      <div class="linkIcon__LvALIMY">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 479.058 479.058">
                          <path d="M434.146 59.882H44.912C20.146 59.882 0 80.028 0 104.794v269.47c0 24.766 20.146 44.912 44.912 44.912h389.234c24.766 0 44.912-20.146 44.912-44.912v-269.47c0-24.766-20.146-44.912-44.912-44.912zm0 29.941c2.034 0 3.969.422 5.738 1.159L239.529 264.631 39.173 90.982a14.902 14.902 0 0 1 5.738-1.159zm0 299.411H44.912c-8.26 0-14.971-6.71-14.971-14.971V122.615l199.778 173.141c2.822 2.441 6.316 3.655 9.81 3.655s6.988-1.213 9.81-3.655l199.778-173.141v251.649c-.001 8.26-6.711 14.97-14.971 14.97z"/>
                        </svg>
                      </div>
                      <div>
                        <a class="link__wpZpfD" href="/explore">
                          <div class="linkText__vAV5RU">
                            <h3>Messages</h3>
                          </div>
                        </a>
                      </div>
                    </div>
                  </li>
                  <li class="linkItem__rhZ6tp">
                    <div class="linkGroup__LvALIMY">
                      <div class="linkIcon__LvALIMY">
                        <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                          <path d="M512 492c0 11.047-8.953 20-20 20H256c-11.047 0-20-8.953-20-20s8.953-20 20-20h236c11.047 0 20 8.953 20 20zm-20-98.668H334.668c-11.047 0-20 8.957-20 20 0 11.047 8.953 20 20 20H492c11.047 0 20-8.953 20-20 0-11.043-8.953-20-20-20zm0-78.664h-78.668c-11.047 0-20 8.953-20 20s8.953 20 20 20H492c11.047 0 20-8.953 20-20s-8.953-20-20-20zm14.14-162.527-354 354A19.983 19.983 0 0 1 138 512H20c-11.047 0-20-8.953-20-20V374c0-5.305 2.105-10.39 5.86-14.14l354-354c7.808-7.813 20.472-7.813 28.28 0l118 118c7.813 7.808 7.813 20.472 0 28.28zM463.716 138 374 48.285l-334 334V472h89.715zm0 0"/>
                        </svg>
                      </div>
                      <div>
                        <a class="link__wpZpfD" href="/explore">
                          <div class="linkText__vAV5RU">
                            <h3>Drafts</h3>
                          </div>
                        </a>
                      </div>
                    </div>
                  </li>
                  <li class="linkItem__rhZ6tp">
                    <a class="link__wpZpfD" href="/">
                      <div class="linkGroup__LvALIMY">
                        <div class="linkIcon__LvALIMY">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path d="M376.5 0h-241c-30.419 0-55.166 24.748-55.166 55.167v421.091c0 26.382 14.584 35.742 27.072 35.742 9.001 0 18.063-4.499 26.935-13.371l121.657-121.658 121.659 121.658c8.871 8.871 17.934 13.37 26.935 13.371h.003c8.928 0 16.807-4.578 21.616-12.561 3.62-6.007 5.455-13.807 5.455-23.182V55.167C431.666 24.748 406.919 0 376.5 0zm25.166 476.258c0 1.396-.067 2.565-.169 3.538a33.607 33.607 0 0 1-2.627-2.38L266.604 345.151a15 15 0 0 0-21.212 0L113.127 477.416a33.86 33.86 0 0 1-2.618 2.381 33.405 33.405 0 0 1-.175-3.539V55.167C110.334 41.29 121.623 30 135.5 30h241c13.877 0 25.166 11.29 25.166 25.167z"/>
                          </svg>
                        </div>
                        <div class="linkText__vAV5RU">
                          <h3>Bookmarks</h3>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="linkItem__rhZ6tp">
                    <a class="link__wpZpfD" href="/user/<%= user.username  %> ">
                      <div class="linkGroup__LvALIMY">
                        <div class="linkIcon__LvALIMY">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="-42 0 512 512.001">
                            <path d="M210.352 246.633c33.882 0 63.218-12.153 87.195-36.13 23.969-23.972 36.125-53.304 36.125-87.19 0-33.876-12.152-63.211-36.129-87.192C273.566 12.152 244.23 0 210.352 0c-33.887 0-63.22 12.152-87.192 36.125s-36.129 53.309-36.129 87.188c0 33.886 12.156 63.222 36.13 87.195 23.98 23.969 53.316 36.125 87.19 36.125zM144.379 57.34c18.394-18.395 39.973-27.336 65.973-27.336 25.996 0 47.578 8.941 65.976 27.336 18.395 18.398 27.34 39.98 27.34 65.972 0 26-8.945 47.579-27.34 65.977-18.398 18.399-39.98 27.34-65.976 27.34-25.993 0-47.57-8.945-65.973-27.34-18.399-18.394-27.344-39.976-27.344-65.976 0-25.993 8.945-47.575 27.344-65.973zm281.75 336.363c-.692-9.976-2.09-20.86-4.149-32.351-2.078-11.579-4.753-22.524-7.957-32.528-3.312-10.34-7.808-20.55-13.375-30.336-5.77-10.156-12.55-19-20.16-26.277-7.957-7.613-17.699-13.734-28.965-18.2-11.226-4.44-23.668-6.69-36.976-6.69-5.227 0-10.281 2.144-20.043 8.5a2711.03 2711.03 0 0 1-20.879 13.46c-6.707 4.274-15.793 8.278-27.016 11.903-10.949 3.543-22.066 5.34-33.043 5.34-10.968 0-22.086-1.797-33.043-5.34-11.21-3.622-20.3-7.625-26.996-11.899a2853.13 2853.13 0 0 1-20.898-13.469c-9.754-6.355-14.809-8.5-20.035-8.5-13.313 0-25.75 2.254-36.973 6.7-11.258 4.457-21.004 10.578-28.969 18.199-7.609 7.281-14.39 16.12-20.156 26.273-5.558 9.785-10.058 19.992-13.371 30.34-3.2 10.004-5.875 20.945-7.953 32.524-2.063 11.476-3.457 22.363-4.149 32.363C.343 403.492 0 413.668 0 423.949c0 26.727 8.496 48.363 25.25 64.32C41.797 504.017 63.688 512 90.316 512h246.532c26.62 0 48.511-7.984 65.062-23.73 16.758-15.946 25.254-37.59 25.254-64.325-.004-10.316-.351-20.492-1.035-30.242zm-44.906 72.828c-10.934 10.406-25.45 15.465-44.38 15.465H90.317c-18.933 0-33.449-5.059-44.379-15.46-10.722-10.208-15.933-24.141-15.933-42.587 0-9.594.316-19.066.95-28.16.616-8.922 1.878-18.723 3.75-29.137 1.847-10.285 4.198-19.937 6.995-28.675 2.684-8.38 6.344-16.676 10.883-24.668 4.332-7.618 9.316-14.153 14.816-19.418 5.145-4.926 11.63-8.957 19.27-11.98 7.066-2.798 15.008-4.329 23.629-4.56 1.05.56 2.922 1.626 5.953 3.602 6.168 4.02 13.277 8.606 21.137 13.625 8.86 5.649 20.273 10.75 33.91 15.152 13.941 4.508 28.16 6.797 42.273 6.797 14.114 0 28.336-2.289 42.27-6.793 13.648-4.41 25.058-9.507 33.93-15.164 8.043-5.14 14.953-9.593 21.12-13.617 3.032-1.973 4.903-3.043 5.954-3.601 8.625.23 16.566 1.761 23.636 4.558 7.637 3.024 14.122 7.059 19.266 11.98 5.5 5.262 10.484 11.798 14.816 19.423 4.543 7.988 8.208 16.289 10.887 24.66 2.801 8.75 5.156 18.398 7 28.675 1.867 10.434 3.133 20.239 3.75 29.145v.008c.637 9.058.957 18.527.961 28.148-.004 18.45-5.215 32.38-15.937 42.582zm0 0"/>
                          </svg>
                        </div>
                        <div class="linkText__vAV5RU">
                          <h3>Profile</h3>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="linkItem__rhZ6tp">
                    <a class="link__wpZpfD" href="/">
                      <div class="linkGroup__LvALIMY">
                        <div class="linkIcon__LvALIMY">
                          <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 3" viewBox="0 0 32 32">
                            <path d="M28.068 12h-.128a.934.934 0 0 1-.864-.6.924.924 0 0 1 .2-1.01l.091-.091a2.938 2.938 0 0 0 0-4.147l-1.511-1.51a2.935 2.935 0 0 0-4.146 0l-.091.091A.956.956 0 0 1 20 4.061v-.129A2.935 2.935 0 0 0 17.068 1h-2.136A2.935 2.935 0 0 0 12 3.932v.129a.956.956 0 0 1-1.614.668l-.086-.091a2.935 2.935 0 0 0-4.146 0l-1.516 1.51a2.938 2.938 0 0 0 0 4.147l.091.091a.935.935 0 0 1 .185 1.035.924.924 0 0 1-.854.579h-.128A2.935 2.935 0 0 0 1 14.932v2.136A2.935 2.935 0 0 0 3.932 20h.128a.934.934 0 0 1 .864.6.924.924 0 0 1-.2 1.01l-.091.091a2.938 2.938 0 0 0 0 4.147l1.51 1.509a2.934 2.934 0 0 0 4.147 0l.091-.091a.936.936 0 0 1 1.035-.185.922.922 0 0 1 .579.853v.129A2.935 2.935 0 0 0 14.932 31h2.136A2.935 2.935 0 0 0 20 28.068v-.129a.956.956 0 0 1 1.614-.668l.091.091a2.935 2.935 0 0 0 4.146 0l1.511-1.509a2.938 2.938 0 0 0 0-4.147l-.091-.091a.935.935 0 0 1-.185-1.035.924.924 0 0 1 .854-.58h.128A2.935 2.935 0 0 0 31 17.068v-2.136A2.935 2.935 0 0 0 28.068 12ZM29 17.068a.933.933 0 0 1-.932.932h-.128a2.956 2.956 0 0 0-2.083 5.028l.09.091a.934.934 0 0 1 0 1.319l-1.511 1.509a.932.932 0 0 1-1.318 0l-.09-.091A2.957 2.957 0 0 0 18 27.939v.129a.933.933 0 0 1-.932.932h-2.136a.933.933 0 0 1-.932-.932v-.129a2.951 2.951 0 0 0-5.028-2.082l-.091.091a.934.934 0 0 1-1.318 0l-1.51-1.509a.934.934 0 0 1 0-1.319l.091-.091A2.956 2.956 0 0 0 4.06 18h-.128A.933.933 0 0 1 3 17.068v-2.136A.933.933 0 0 1 3.932 14h.128a2.956 2.956 0 0 0 2.083-5.028l-.09-.091a.933.933 0 0 1 0-1.318l1.51-1.511a.932.932 0 0 1 1.318 0l.09.091A2.957 2.957 0 0 0 14 4.061v-.129A.933.933 0 0 1 14.932 3h2.136a.933.933 0 0 1 .932.932v.129a2.956 2.956 0 0 0 5.028 2.082l.091-.091a.932.932 0 0 1 1.318 0l1.51 1.511a.933.933 0 0 1 0 1.318l-.091.091A2.956 2.956 0 0 0 27.94 14h.128a.933.933 0 0 1 .932.932Z"/>
                            <path d="M16 9a7 7 0 1 0 7 7 7.008 7.008 0 0 0-7-7Zm0 12a5 5 0 1 1 5-5 5.006 5.006 0 0 1-5 5Z"/>
                          </svg>
                        </div>
                        <div class="linkText__vAV5RU">
                          <h3>Settings</h3>
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
              </nav>
              <div class="utilitySideBarQuackButtonContainer__AijMaz">
                <button class="utilitySideBarQuackButton__AijMaz">Quack</button>
              </div>
            </div>
            <div title="<%= user.firstName %> <%= user.lastName %>" class="qc0CtQK">
              <div class="flex items-center justify-center">
                <div class="userProfilePictureFence">
                  <div class="userProfilePicture">
                    <img src="<%= user.profilePicture%>" />
                  </div>
                </div>
                <div class="userDetails">
                  <div class="XbhJuaA">
                    <h2><%= fullName %></h2>
                  </div>
                  <div class="username__LvALIMY">
                    <h3>@<%= user.username %></h3>
                  </div>
                </div>
              </div>
              <div class="optionsIcon__hwBXN4">
                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 384 384">
                  <circle cx="192" cy="42.667" r="42.667"/>
                  <circle cx="192" cy="192" r="42.667"/>
                  <circle cx="192" cy="341.333" r="42.667"/>
                </svg>
              </div>
            </div>
            <div class="a5f0R88 hidden">
              <ul>
                <li>
                  <button id="logoutButton" class="logoutButton__a5f0R88">
                    <div class="linkGroup__a5f0R88">
                      <div class="logoutIcon">
                        <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 512 512">
                          <path d="M363.335 488a24 24 0 0 1-24 24H113.082a80.09 80.09 0 0 1-80-80V80a80.09 80.09 0 0 1 80-80h226.253a24 24 0 0 1 0 48H113.082a32.035 32.035 0 0 0-32 32v352a32.034 32.034 0 0 0 32 32h226.253a24 24 0 0 1 24 24zm108.553-248.97L357.837 124.978a24 24 0 1 0-33.937 33.941L396.977 232H208.041a24 24 0 1 0 0 48h188.935l-73.08 73.08a24 24 0 1 0 33.941 33.941l114.051-114.05a24 24 0 0 0 0-33.941z"/>
                        </svg>
                      </div>
                      <div class="logoutLinkText__a5f0R88">
                        <h3 class="utilityOptionText"><span class="text-red-500">Log out</span> @<%= user.username  %></h3>
                      </div>
                    </div>
                  </button>
                </li>
              </ul>
            </div>
            <div class="contextMenuIsOpen__yXptsM"></div>
          </div>
        </div>
        <div id="liveFeedColumn__brXNqg">
          <div>
            <%- include ("components/createQuackForm.ejs") %>
          </div>
          <div id="updateHomeFeedIndicator__aed1SB"></div>
          <div>
            <div id="posts__brXNqg">
              <div class="loadingAnimation__brXNqg">
                <img src="/loading.gif" />
              </div>
            </div>
          </div>
        </div>
        <div class="dRGaJP0">Suggestions</div>
      </main>
    </div>
  </div>
  <%= user.email %>
  <script>let userSessionOwner = <%- JSON.stringify(user) %>;</script>
  <script src="/js/pmvPvqNj9AnB.js"></script>
  <script src="/js/home.js"></script>
</body>